.dashboard {
  /* margin-left: 240px; */
  margin-top: 60px;
  padding: 20px;
  /* background: #f5f7fa; */
  min-height: 100vh;
}

/* Header */
.dashboard-header {
  padding: 10px 0;
}

/* Avatar */
.avatar {
  width: 35px;
  height: 35px;
  background: #c49b5c;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cards */
.stat-card {
  padding: 15px;
  border-radius: 12px;
}

.stat-card.green {
  border-top: 4px solid green;
}

.stat-card.yellow {
  border-top: 4px solid orange;
}

.stat-card.red {
  border-top: 4px solid red;
}

/* Asset list */
.asset-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}